<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework"
			type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<appSettings>
		<add key="MAX_COST" value="75"/>
		<add key="MINIMAL_MONEY_MAKING_PERCENT" value="0.55"/>
		<add key="IVA_PERCENT" value="16"/>
		<add key="MULTIPLE_VALUES" value="uno;dos;tres;cuatro"/>
		<add key="MINIMAL_PIECES" value="10"/>
		<add key="RFC_VALIDATOR" value="[A-Z]{4}[0-9]{6}[A-Z0-9]{3}"/>
		<add key="RFC_VALIDATOR" value="[A-Z]{4}[0-9]{6}[A-Z0-9]{4}" />
		<add key="MINIMAL_LENGTH_RFC" value="12" />
		<add key="MAX_LENGTH_RFC" value="13" />
	</appSettings>
	<connectionStrings>
		<add name="SFCtx" connectionString="Data Source=srvapps2;Initial Catalog=SF;Persist Security Info=True;User ID=sa;Password=us3b3q" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>